<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exercícios: Filtros</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="app.js"></script>

    <style media="screen">
      table tr td {
        padding: 1px;
      }
    </style>
  </head>
  <body ng-app="FuncionariosApp" ng-controller="FuncionariosController as funcCtrl">

    <input type="text" ng-model="searchInput.name"> <br />
    <input ng-init="limit = 10; " type="number" ng-model="limit"> <br />
    <br />

    <table>
      <thead>
        <tr>
          <td>
            <b>Nome</b>
          </td>
          <td>
            <b>CPF</b>
          </td>
          <td>
            <b>E-mail</b>
          </td>
          <td>
            <b>Telefone</b>
          </td>
          <td>
            <b>Salário</b>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in funcCtrl.employees | filter: searchInput | orderBy: 'name' | limitTo: limit ">
          <td>
            {{employee.name}}
          </td>
          <td>
            {{employee.cpf | cpfFilter }}
          </td>
          <td>
            {{employee.email}}
          </td>
          <td>
            {{employee.phone}}
          </td>
          <td>
            {{employee.salary | currency}}
          </td>
        </tr>
      </tbody>
    </table>

  </body>
</html>
